*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: #741414;
    margin-left: 15%;
}

#subtitulo{
    font-family: sans-serif;
    font-size: 20px;
    color: #741414;
    margin-left: 16.2%;
}

fieldset{
    border: 0;
}

body{
    background-color: #cc680bda;
    font-family: sans-serif;
    font-size: 1em;
    color: #ff9b17b7;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 4.5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #050505b7;
    display: block;
}

fieldset.grupo{
    float:center;
    margin-left: 0,1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2ox rgb(255, 0, 0);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #ce16163f;
}

.botao{
    font-size: 1.2em;
    background: #2a6e0fb7;
    border: 0;
    margin-bottom: 1em;
    color: seashell;
    padding: 0.2em 0.6;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgb(0,0,0,0.5;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    background-color: darkblue;
    box-shadow: inset 2px 2px 2px rgb(0,0,0,0.2);
    text-shadow: none;
}

#check{
    display: inline-block;
}